/* --- LEFT --- */
.left {
    height: 100vh;
}

.logo {
    height: 50px;
}

.navList {
    height: 90vh;
    font-family: sf-pro;
}

.navList>ul {
    width: 100%;
}

.navList>ul>li {
    height: 50px;
}

.navList>ul>li:hover {
    background-color: #eaf0f0;
    border-radius: 8px;
}

.imgLogo img {
    height: 40px;
    width: 40px;
}

.textLogo {
    line-height: 40px;
    font-family: roboto-medium;
}

.textLogo>a {
    color: #34B3F1;
}

ul {
    list-style-type: none;
    padding: 0;
}

.nameNav {
    line-height: 30px;
    font-size: 1.4rem;
}

.navList ul li {
    margin-bottom: 1vh;
}


/* --- MID --- */
.mid {
    height: 100vh;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    overflow-y: auto;
}

.mid::-webkit-scrollbar {
    display: none;
}

.topbar {
    height: 50px;
    border-bottom: 1px solid #E6E6E6;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
}

.content {
    /* border: 1px solid black; */
    border-bottom: 1px solid #E6E6E6;
}

.avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nameCnt {
    font-size: 15px;
    font-family: roboto-medium;
}

.dot {
    font-size: 15px;
    color: #889EAF;
}

.dateUpload {
    font-size: 14px;
    color: #B6BCBC;
    font-family: sf-pro;
}

.mapelCnt {
    font-family: noto-sans-regular;
    font-size: 13px;
    color: #889EAF;
}

.pertanyaan {
    font-size: 20px;
    font-family: br-cobane;
}

.jawaban {
    font-size: 20px;
    font-weight: 500;
    font-family: br-cobane;
}

.comentar {
    font-size: 18px;
    font-weight: 500;
    font-family: br-cobane;
}

.img-comment{
    aspect-ratio: 1.5/1;
    border-radius: 10px;
    width: 100%;
    /* height: 20rem; */
    object-fit: cover;
}
.input-comentar {
    resize: none;
    border: 0 none;
    overflow: hidden;
    outline: none;
    width: 100%;

}
.img-post-comment{
    border-radius: 5px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.navBottom>div {
    width: 100%;
}

.navBottom>div>ul>li {
    width: 25%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.iconNavBottom {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.iconNavBottom:hover {
    background-color: #eaf0f0;
}

/* --- RIGHT ---- */
.right {
    height: 100vh;
    overflow-y: auto;
}

.right::-webkit-scrollbar {
    display: none;
}

.rightTopbar {
    height: 50px;
    background-color: #fff;
}

.iconSB img {
    height: 27px;
    filter: invert(58%) sepia(9%) saturate(257%) hue-rotate(158deg) brightness(94%) contrast(82%);
}

.SB {
    background-color: #EFF3F4;
    border-radius: 60px;
    height: 45px;
    width: 100%;
}

.inputSB {
    outline: none;
    border: none;
    background-color: transparent;
    color: #858C90;
}

.inputSB:focus {
    outline: none;
    border: none;
}

.inputSB::placeholder {
    color: #858C90;
}

.myprofile {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.avatarProfile {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.myprofile>.row {
    border-bottom: 1px solid #E6E6E6;
}

.infoProfile {
    color: #34B3F1;
}

.infoProfile1 {
    border-bottom: 1px solid #E6E6E6;
}


/* Rank */
.right>.pt-4 {
    border: 1px solid #E6E6E6;
}

.rankProfile img {
    height: 35px;
    width: 35px;
    border: 1px solid;
    border-radius: 200px;
}

.rankName span {
    font-family: sf-pro;
    font-weight: 500;
    font-size: 15px;
}

.rankPoin {
    color: #34B3F1;
}

.listRank:hover {
    color: #34B3F1;
}

.moreActionList:hover {
    background-color: rgb(52, 179, 241, 0.2);
}

.stop {
    height: 100px;
    position: sticky;
    top: 0;
}

/* footer */
.footerText {
    font-size: 15px;
    font-family: noto-sans-regular;
    color: #7A7A7A;
}

.left {
    display: none;
}

.right {
    display: none;
}

.leftBar {
    display: none;
    /* background-color: salmon; */
}

.mapel2 {
    display: none;
}

.lite-editor{
    min-height: 100px !important;
    max-height: 400px !important;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    line-height: 20px!important;
}

.lite-editor-btn-group-wrap-right{
    display: none;
    visibility: hidden;
}

/* Mini device */
@media (max-width: 576px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .left {
        flex: 0 0 auto;
        width: 10%;
        display: block;
    }

    .mid {
        flex: 0 0 auto;
        width: 90%;
    }

    .textLogo {
        display: none;
    }

    .nameNav {
        display: none;
    }

    .navBottom {
        display: none;
    }

    .navList>ul>li>a {
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .left {
        flex: 0 0 auto;
        width: 7%;
        display: block;
    }

    .mid {
        flex: 0 0 auto;
        width: 60%;
    }

    .right {
        flex: 0 0 auto;
        width: 33%;
        display: block;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .left {
        flex: 0 0 auto;
        width: 22%;
    }

    .mid {
        flex: 0 0 auto;
        width: 50%;
    }

    .right {
        flex: 0 0 auto;
        width: 28%;
    }

    .textLogo {
        display: block;
    }

    .nameNav {
        display: block;
    }

    .navList>ul>li {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .iconNav {
        margin-right: .75rem;
    }

    .logo {
        justify-content: left !important;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}